################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/PropertySample/obj/
/PropertySample/obj/x86/Debug	
/PropertySample/bin/